<link rel="stylesheet" href="/css/deckgrid.css">
<div class="darksection">

</div>
<div class="intro-div">
<div class="flash-div">



<div class="animated bounceIn" id="this">
<a class="flash2" href="">CHOOSE A DECK</a>
</div>




</div>


</div>


<% all_decks.each do |deck| %>
<div class="square">
    <div class="content">
        <div class="table">
            <div class="table-cell">
                <ul><a class= "deckname" href="/cards?current_deck_id=<%=deck.id%>"><%= deck.name %> </a>

                </ul>
            </div>
        </div>
    </div>
</div>
<%end%>
