<div> Welcome to Flashy Card by Nas: keep it humble </div>
<hr />
<form action='/user/new' method='POST' >
  <div>
    <input type='text'     name='name' placeholder='Your First Name' />
    <input type="password" name='password'   placeholder='password' />
  </div>
  <div>
    <input type='submit' value='signup' />
  </div>
</form>
